In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# LISTING Data

In [ ]:
listing = pd.read_csv('/content/listings.csv.gz')

In [ ]:
pd.set_option('display.max_columns', listing.shape[1])

In [ ]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6257 entries, 0 to 6256
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6257 non-null   int64
 1   listing_url                                   6257 non-null   object
 2   scrape_id                                     6257 non-null   int64
 3   last_scraped                                  6257 non-null   object
 4   source                                        6257 non-null   object
 5   name                                          6257 non-null   object
 6   description                                   6180 non-null   object
 7   neighborhood_overview                         3888 non-null   object
 8   picture_url                                   6257 non-null   object
 9   host_id                                       6257 non-null   int64
 10  host_url                                      6257 non-null   object
 11  host_name                                     6255 non-null   object
 12  host_since                                    6255 non-null   object
 13  host_location                                 5040 non-null   object
 14  host_about                                    3996 non-null   object
 15  host_response_time                            5766 non-null   object
 16  host_response_rate                            5766 non-null   object
 17  host_acceptance_rate                          5984 non-null   object
 18  host_is_superhost                             6102 non-null   object
 19  host_thumbnail_url                            6255 non-null   object
 20  host_picture_url                              6255 non-null   object
 21  host_neighbourhood                            6055 non-null   object
 22  host_listings_count                           6255 non-null   float64
 23  host_total_listings_count                     6255 non-null   float64
 24  host_verifications                            6255 non-null   object
 25  host_has_profile_pic                          6255 non-null   object
 26  host_identity_verified                        6255 non-null   object
 27  neighbourhood                                 3888 non-null   object
 28  neighbourhood_cleansed                        6257 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6257 non-null   float64
 31  longitude                                     6257 non-null   float64
 32  property_type                                 6257 non-null   object
 33  room_type                                     6257 non-null   object
 34  accommodates                                  6257 non-null   int64
 35  bathrooms                                     4808 non-null   float64
 36  bathrooms_text                                6255 non-null   object
 37  bedrooms                                      6122 non-null   float64
 38  beds                                          4765 non-null   float64
 39  amenities                                     6257 non-null   object
 40  price                                         4769 non-null   object
 41  minimum_nights                                6257 non-null   int64
 42  maximum_nights                                6257 non-null   int64
 43  minimum_minimum_nights                        6256 non-null   float64
 44  maximum_minimum_nights                        6256 non-null   float64
 45  minimum_maximum_nights                        6256 non-null   float64
 46  maximum_maximum_nights                        6256 non-null   float64
 47  minimum_nights_avg_ntm                        6256 non-null   float64
 48  maximum_nights_avg_ntm                        6256 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6220 non-null   object
 51  availability_30                               6257 non-null   int64
 52  availability_60                               6257 non-null   int64
 53  availability_90                               6257 non-null   int64
 54  availability_365                              6257 non-null   int64
 55  calendar_last_scraped                         6257 non-null   object
 56  number_of_reviews                             6257 non-null   int64
 57  number_of_reviews_ltm                         6257 non-null   int64
 58  number_of_reviews_l30d                        6257 non-null   int64
 59  availability_eoy                              6257 non-null   int64
 60  number_of_reviews_ly                          6257 non-null   int64
 61  estimated_occupancy_l365d                     6257 non-null   int64
 62  estimated_revenue_l365d                       4769 non-null   float64
 63  first_review                                  5021 non-null   object
 64  last_review                                   5021 non-null   object
 65  review_scores_rating                          5021 non-null   float64
 66  review_scores_accuracy                        5020 non-null   float64
 67  review_scores_cleanliness                     5020 non-null   float64
 68  review_scores_checkin                         5020 non-null   float64
 69  review_scores_communication                   5020 non-null   float64
 70  review_scores_location                        5020 non-null   float64
 71  review_scores_value                           5020 non-null   float64
 72  license                                       4697 non-null   object
 73  instant_bookable                              6257 non-null   object
 74  calculated_host_listings_count                6257 non-null   int64
 75  calculated_host_listings_count_entire_homes   6257 non-null   int64
 76  calculated_host_listings_count_private_rooms  6257 non-null   int64
 77  calculated_host_listings_count_shared_rooms   6257 non-null   int64
 78  reviews_per_month                             5021 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 3.8+ MB

In [ ]:
listing.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20250313035211,2025-03-14,city scrape,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,https://www.airbnb.com/users/show/4645,Vita,2008-11-26,"Washington D.C., DC","I am a literary scholar, teacher, poet, vegan ...",NaN,NaN,100%,f,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Anacostia,1.00,4.00,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Historic Anacostia,NaN,38.86,-76.99,Private room in home,Private room,1,1.00,1 shared bath,1.00,2.00,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",$60.00,31,365,31.00,31.00,365.00,365.00,31.00,365.00,NaN,t,1,1,1,1,2025-03-14,84,0,0,0,0,0,0.00,2010-11-01,2023-08-30,4.64,4.73,4.45,4.91,4.84,3.91,4.64,NaN,f,1,0,1,0,0.48
1,3943,https://www.airbnb.com/rooms/3943,20250313035211,2025-03-13,city scrape,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,5059,https://www.airbnb.com/users/show/5059,Vasa,2008-12-12,"Washington, DC",I travel often and always try to immerse mysel...,within an hour,100%,95%,t,https://a0.muscache.com/im/pictures/user/8ec69...,https://a0.muscache.com/im/pictures/user/8ec69...,Eckington,5.00,5.00,"['email', 'phone']",t,t,Neighborhood highlights,"Edgewood, Bloomingdale, Truxton Circle, Eckington",NaN,38.91,-77.00,Private room in townhouse,Private room,2,1.00,1 private bath,1.00,1.00,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",$63.00,1,1125,1.00,1.00,1125.00,1125.00,1.00,1125.00,NaN,t,14,44,74,349,2025-03-13,534,38,1,278,36,228,14364.00,2009-05-10,2025-02-19,4.86,4.89,4.93,4.94,4.92,4.60,4.77,Hosted License: 5007242201001033,f,5,0,5,0,2.77
2,4197,https://www.airbnb.com/rooms/4197,20250313035211,2025-03-13,city scrape,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,5061,https://www.airbnb.com/users/show/5061,Sandra,2008-12-12,"Washington D.C., DC",I’m a California native who came to work for t...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/93c77...,https://a0.muscache.com/im/pictures/user/93c77...,Capitol Hill,2.00,2.00,"['email', 'phone']",t,t,Neighborhood highlights,"Capitol Hill, Lincoln Park",NaN,38.89,-76.99,Private room in home,Private room,1,1.50,1.5 shared baths,1.00,1.00,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",$128.00,4,29,4.00,4.00,1125.00,1125.00,4.00,1125.00,NaN,t,21,47,77,352,2025-03-13,64,6,0,281,5,48,6144.00,2009-05-14,2025-01-30,4.87,4.98,4.89,5.00,4.98,4.97,4.93,Hosted License: 5007242201000749,f,2,0,2,0,0.33
3,4529,https://www.airbnb.com/rooms/4529,20250313035211,2025-03-13,city scrape,Bertina's House Part One,This is large private bedroom with plenty of...,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,5803,https://www.airbnb.com/users/show/5803,Bertina,2008-12-30,"Washington, DC",I am a retried teacher. I enjoy walking and wa...,NaN,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Eastland Gardens,4.00,4.00,"['email', 'phone']",t,t,Neighborhood highlights,"Eastland Gardens, Kenilworth",NaN,38.91,-76.94,Private room in home,Private room,2,1.00,1 private bath,1.00,2.00,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",$64.00,30,1125,30.00,30.00,1125.00,1125.00,30.00,1125.00,NaN,t,29,59,89,179,2025-03-13,102,0,0,179,0,0,0.00,2009-08-08,2019-07-05,4.66,4.80,4.60,4.93,4.93,4.51,4.83,Exempt,f,2,0,2,0,0.54
4,5589,https://www.airbnb.com/rooms/5589,20250313035211,2025-03-13,previous scrape,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,6527,https://www.airbnb.com/users/show/6527,Ami,2009-01-13,"Washington D.C., DC","I am an environmentalist, and I own and operat...",within a day,100%,0%,f,https://a0.muscache.com/im/users/6527/profile_...,https://a0.muscache.com/im/users/6527/profile_...,Adams Morgan,2.00,4.00,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,"Kalorama Heights, Adams Morgan, Lanier Heights",NaN,38.92,-77.04,Entire rental unit,Entire home/apt,3,NaN,1 bath,1.00,NaN,"[""Luggage dropoff allowed"", ""Ethernet connecti...",NaN,50,90,31.00,31.00,90.00,90.00,31.00,90.00,NaN,t,23,38,68,158,2025-03-13,96,0,0,158,0,0,NaN,2009-09-22,2023-08-17,4.50,4.71,4.13,4.82,4.82,4.91,4.44,NaN,f,1,1,0,0,0.51

# Changing the ID variable name to LISTING_ID so know that this is a FOREIGN KEY to the CALENDAR dataframe

In [ ]:
listing.rename(columns={'id':'listing_id'}, inplace=True)

In [ ]:
listing = listing.assign(
    listing_id = lambda x: x.listing_id.astype('object')
) # changing datatype of LISTING_ID from INT64 to OBJECT

# Cleaning FEATURES related to PRICE

In [ ]:
listing[listing.columns.sort_values()].head()

,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,availability_eoy,bathrooms,bathrooms_text,bedrooms,beds,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,calendar_last_scraped,calendar_updated,description,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,has_availability,host_about,host_acceptance_rate,host_has_profile_pic,host_id,host_identity_verified,host_is_superhost,host_listings_count,host_location,host_name,host_neighbourhood,host_picture_url,host_response_rate,host_response_time,host_since,host_thumbnail_url,host_total_listings_count,host_url,host_verifications,instant_bookable,last_review,last_scraped,latitude,license,listing_id,listing_url,longitude,maximum_maximum_nights,maximum_minimum_nights,maximum_nights,maximum_nights_avg_ntm,minimum_maximum_nights,minimum_minimum_nights,minimum_nights,minimum_nights_avg_ntm,name,neighborhood_overview,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,number_of_reviews,number_of_reviews_l30d,number_of_reviews_ltm,number_of_reviews_ly,picture_url,price,property_type,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,room_type,scrape_id,source
0,1,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",1,1,1,1,0,1.00,1 shared bath,1.00,2.00,1,0,1,0,2025-03-14,NaN,IMPORTANT NOTES<br />* Carefully read and be s...,0,0.00,2010-11-01,t,"I am a literary scholar, teacher, poet, vegan ...",100%,t,4645,t,f,1.00,"Washington D.C., DC",Vita,Anacostia,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-11-26,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/4645,"['email', 'phone', 'work_email']",f,2023-08-30,2025-03-14,38.86,NaN,3686,https://www.airbnb.com/rooms/3686,-76.99,365.00,31.00,365,365.00,365.00,31.00,31,31.00,Vita's Hideaway,We love that our neighborhood is up and coming...,Neighborhood highlights,Historic Anacostia,NaN,84,0,0,0,https://a0.muscache.com/pictures/61e02c7e-3d66...,$60.00,Private room in home,4.73,4.91,4.45,4.84,3.91,4.64,4.64,0.48,Private room,20250313035211,city scrape
1,2,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",14,349,44,74,278,1.00,1 private bath,1.00,1.00,5,0,5,0,2025-03-13,NaN,You will be staying in high ceiling bedroom w...,228,14364.00,2009-05-10,t,I travel often and always try to immerse mysel...,95%,t,5059,t,t,5.00,"Washington, DC",Vasa,Eckington,https://a0.muscache.com/im/pictures/user/8ec69...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/8ec69...,5.00,https://www.airbnb.com/users/show/5059,"['email', 'phone']",f,2025-02-19,2025-03-13,38.91,Hosted License: 5007242201001033,3943,https://www.airbnb.com/rooms/3943,-77.00,1125.00,1.00,1125,1125.00,1125.00,1.00,1,1.00,Historic Rowhouse Near Monuments,This rowhouse is centrally located in the hear...,Neighborhood highlights,"Edgewood, Bloomingdale, Truxton Circle, Eckington",NaN,534,1,38,36,https://a0.muscache.com/pictures/airflow/Hosti...,$63.00,Private room in townhouse,4.89,4.94,4.93,4.92,4.60,4.86,4.77,2.77,Private room,20250313035211,city scrape
2,1,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",21,352,47,77,281,1.50,1.5 shared baths,1.00,1.00,2,0,2,0,2025-03-13,NaN,This is the middle bedroom upstairs in a resto...,48,6144.00,2009-05-14,t,I’m a California native who came to work for t...,100%,t,5061,t,t,2.00,"Washington D.C., DC",Sandra,Capitol Hill,https://a0.muscache.com/im/pictures/user/93c77...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/93c77...,2.00,https://www.airbnb.com/users/show/5061,"['email', 'phone']",f,2025-01-30,2025-03-13,38.89,Hosted License: 5007242201000749,4197,https://www.airbnb.com/rooms/4197,-76.99,1125.00,4.00,29,1125.00,1125.00,4.00,4,4.00,Capitol Hill Bedroom walk to Metro,"Our area, the Eastern Market neighborhood of C...",Neighborhood highlights,"Capitol Hill, Lincoln Park",NaN,64,0,6,5,https://a0.muscache.com/pictures/miso/Hosting-...,$128.00,Private room in home,4.98,5.00,4.89,4.98,4.97,4.87,4.93,0.33,Private room,20250313035211,city scrape
3,2,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",29,179,59,89,179,1.00,1 private bath,1.00,2.00,2,0,2,0,2025-03-13,NaN,This is large private bedroom with plenty of...,0,0.00,2009-08-08,t,I am a retried teacher. I enjoy walking and wa...,NaN,t,5803,t,NaN,4.00,"Washington, DC",Bertina,Eastland Gardens,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-12-30,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/5803,"['email', 'phone']",f,2019-07-05,2025-03-13,38.91,Exempt,4529,https://www.airbnb.com/rooms/4529,-76.94,1125.00,30.00,1125,1125.00,1125.00,30.00,30,30.00,Bertina's House Part One,Very quiet neighborhood and it is easy accessi...,Neighborhood highlights,"Eastland Gardens, Kenilworth",NaN,102,0,0,0,https://a0.muscache.com/pictures/86072003/6709...,$64.00,Private room in home,4.80,4.93,4.60,4.93,4.51,4.66,4.83,0.54,Private room,20250313035211,city scrape
4,3,"[""Luggage dropoff allowed"", ""Ethernet connecti...",23,158,38,68,158,NaN,1 bath,1.00,NaN,1,1,0,0,2025-03-13,NaN,This is a 1 br (bedroom + living room in Adams...,0,NaN,2009-09-22,t,"I am an environmentalist, and I own and operat...",0%,t,6527,t,f,2.00,"Washington D.C., DC",Ami,Adams Morgan,https://a0.muscache.com/im/users/6527/profile_...,100%,within a day,2009-01-13,https://a0.muscache.com/im/users/6527/profile_...,4.00,https://www.airbnb.com/users/show/6527,"['email', 'phone', 'work_email']",f,2023-08-17,2025-03-13,38.92,NaN,5589,https://www.airbnb.com/rooms/5589,-77.04,90.00,31.00,90,90.00,90.00,31.00,50,31.00,Cozy apt in Adams Morgan,"Adams Morgan spills over with hipsters, salsa ...",Neighborhood highlights,"Kalorama Heights, Adams Morgan, Lanier Heights",NaN,96,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,NaN,Entire rental unit,4.71,4.82,4.13,4.82,4.91,4.50,4.44,0.51,Entire home/apt,20250313035211,previous scrape

In [ ]:
listing.price = listing.price.replace('[\$,]','', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-867592984.py:1: SyntaxWarning: invalid escape sequence '\$'
  listing.price = listing.price.replace('[\$,]','', regex=True).astype(float)

In [ ]:
listing.price.dtype

dtype('float64')

# Imputing Missing Values for BATHROOM

In [ ]:
float(1.5)

1.5

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)1.5(\s|$|[^0-9])', na=False), 'bathrooms'] = float(1.5)

/tmp/ipython-input-3589367882.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)1.5(\s|$|[^0-9])', na=False), 'bathrooms'] = float(1.5)

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)1(\s|$|[^0-9])', na=False), 'bathrooms'] = float(1)

/tmp/ipython-input-2246464961.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)1(\s|$|[^0-9])', na=False), 'bathrooms'] = float(1)

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2.5(\s|$|[^0-9])', na=False)][['bathrooms','bathrooms_text']]

/tmp/ipython-input-118301607.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2.5(\s|$|[^0-9])', na=False)][['bathrooms','bathrooms_text']]

      bathrooms bathrooms_text
63          NaN      2.5 baths
79          NaN      2.5 baths
105         NaN      2.5 baths
170         NaN      2.5 baths
261         NaN      2.5 baths
...         ...            ...
5981        NaN      2.5 baths
6063        NaN      2.5 baths
6106        NaN      2.5 baths
6132        NaN      2.5 baths
6133        NaN      2.5 baths

[119 rows x 2 columns]

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2.5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(2.5)

/tmp/ipython-input-2832552384.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2.5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(2)

/tmp/ipython-input-2021558230.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)2(\s|$|[^0-9])', na=False),

In [ ]:
listing.bathrooms.value_counts().reset_index().sort_values(by='bathrooms')

    bathrooms  count
4        0.00    122
9        0.50      6
0        1.00   4244
2        1.50    400
1        2.00    733
3        2.50    398
5        3.00     99
6        3.50     92
7        4.00     20
8        4.50     16
10       5.00      2
11       6.00      1
12       7.00      1

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)0(\s|$|[^0-9])', na=False),
'bathrooms'] = float(0)

/tmp/ipython-input-794614684.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)0(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)3.5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(3.5)

/tmp/ipython-input-2973749093.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)3.5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)3(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(3)

/tmp/ipython-input-2405489588.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)3(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)4.5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(4.5)

/tmp/ipython-input-1240424704.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)4.5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)4(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(4)

/tmp/ipython-input-496894167.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)4(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)5.5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(5.5)

/tmp/ipython-input-3505731086.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)5.5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(5)

/tmp/ipython-input-869412557.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)6(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(6)

/tmp/ipython-input-2084173577.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)6(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)7(\s|$|[^0-9])', na=False),
            'bathrooms']

/tmp/ipython-input-2131078337.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)7(\s|$|[^0-9])', na=False),

Series([], Name: bathrooms, dtype: float64)

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)8.5(\s|$|[^0-9])', na=False),
            'bathrooms'] = float(8.5)

/tmp/ipython-input-91206395.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)8.5(\s|$|[^0-9])', na=False),

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)8(\s|$|[^0-9])', na=False),
            'bathrooms']

/tmp/ipython-input-1355437106.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)8(\s|$|[^0-9])', na=False),

Series([], Name: bathrooms, dtype: float64)

In [ ]:
listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)11.5(\s|$|[^0-9])', na=False),
            'bathrooms']

/tmp/ipython-input-4119966731.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  listing.loc[listing.bathrooms.isna() & listing.bathrooms_text.str.contains(r'(^|\s)11.5(\s|$|[^0-9])', na=False),

Series([], Name: bathrooms, dtype: float64)

In [ ]:
listing.loc[listing.bathrooms.isna(), 'bathrooms_text'] # 1 listing with NaN value in bathroooms
# no value entered for bathrooms text either

5420    NaN
Name: bathrooms_text, dtype: object

In [ ]:
listing.bathrooms.dtype # keeping as float because some bathrooms have 1/2 bath

dtype('float64')

# Impute Missing Values for BEDROOMS

In [ ]:
# should bedrooms and beds be imputed? May skew analysis? Do listings that list, for example, 0 beds vs no info
# change the price/demand?

In [ ]:
listing.beds.isna().sum()

np.int64(1492)

In [ ]:
listing.bedrooms.value_counts()

bedrooms
1.00     3544
2.00     1309
3.00      561
0.00      322
4.00      249
5.00       90
6.00       25
7.00       13
8.00        6
12.00       1
11.00       1
9.00        1
Name: count, dtype: int64

In [ ]:
listing.loc[(listing.bedrooms==1) & (listing.beds==0)][['bedrooms','beds']]

      bedrooms  beds
331       1.00  0.00
503       1.00  0.00
893       1.00  0.00
1463      1.00  0.00
1542      1.00  0.00
1620      1.00  0.00
1892      1.00  0.00
1985      1.00  0.00
2226      1.00  0.00
2421      1.00  0.00
2467      1.00  0.00
2857      1.00  0.00
3319      1.00  0.00
3387      1.00  0.00
3607      1.00  0.00
3796      1.00  0.00
3947      1.00  0.00
4016      1.00  0.00
4177      1.00  0.00
4179      1.00  0.00
4180      1.00  0.00
4229      1.00  0.00
4321      1.00  0.00
4606      1.00  0.00
4824      1.00  0.00
4838      1.00  0.00
4839      1.00  0.00
5063      1.00  0.00
5818      1.00  0.00
5819      1.00  0.00
5943      1.00  0.00
5977      1.00  0.00
5978      1.00  0.00
6016      1.00  0.00
6018      1.00  0.00
6053      1.00  0.00
6107      1.00  0.00
6108      1.00  0.00
6110      1.00  0.00
6111      1.00  0.00
6112      1.00  0.00

In [ ]:
listing.loc[(listing.bedrooms==1) & (listing.beds.isna())][['beds','bedrooms']]

      beds  bedrooms
4      NaN      1.00
19     NaN      1.00
40     NaN      1.00
48     NaN      1.00
55     NaN      1.00
...    ...       ...
6122   NaN      1.00
6125   NaN      1.00
6129   NaN      1.00
6130   NaN      1.00
6154   NaN      1.00

[732 rows x 2 columns]

In [ ]:
listing[listing.columns.sort_values()]

,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,availability_eoy,bathrooms,bathrooms_text,bedrooms,beds,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,calendar_last_scraped,calendar_updated,description,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,has_availability,host_about,host_acceptance_rate,host_has_profile_pic,host_id,host_identity_verified,host_is_superhost,host_listings_count,host_location,host_name,host_neighbourhood,host_picture_url,host_response_rate,host_response_time,host_since,host_thumbnail_url,host_total_listings_count,host_url,host_verifications,instant_bookable,last_review,last_scraped,latitude,license,listing_id,listing_url,longitude,maximum_maximum_nights,maximum_minimum_nights,maximum_nights,maximum_nights_avg_ntm,minimum_maximum_nights,minimum_minimum_nights,minimum_nights,minimum_nights_avg_ntm,name,neighborhood_overview,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,number_of_reviews,number_of_reviews_l30d,number_of_reviews_ltm,number_of_reviews_ly,picture_url,price,property_type,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,room_type,scrape_id,source
0,1,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",1,1,1,1,0,1.00,1 shared bath,1.00,2.00,1,0,1,0,2025-03-14,NaN,IMPORTANT NOTES<br />* Carefully read and be s...,0,0.00,2010-11-01,t,"I am a literary scholar, teacher, poet, vegan ...",100%,t,4645,t,f,1.00,"Washington D.C., DC",Vita,Anacostia,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-11-26,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/4645,"['email', 'phone', 'work_email']",f,2023-08-30,2025-03-14,38.86,NaN,3686,https://www.airbnb.com/rooms/3686,-76.99,365.00,31.00,365,365.00,365.00,31.00,31,31.00,Vita's Hideaway,We love that our neighborhood is up and coming...,Neighborhood highlights,Historic Anacostia,NaN,84,0,0,0,https://a0.muscache.com/pictures/61e02c7e-3d66...,60.00,Private room in home,4.73,4.91,4.45,4.84,3.91,4.64,4.64,0.48,Private room,20250313035211,city scrape
1,2,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",14,349,44,74,278,1.00,1 private bath,1.00,1.00,5,0,5,0,2025-03-13,NaN,You will be staying in high ceiling bedroom w...,228,14364.00,2009-05-10,t,I travel often and always try to immerse mysel...,95%,t,5059,t,t,5.00,"Washington, DC",Vasa,Eckington,https://a0.muscache.com/im/pictures/user/8ec69...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/8ec69...,5.00,https://www.airbnb.com/users/show/5059,"['email', 'phone']",f,2025-02-19,2025-03-13,38.91,Hosted License: 5007242201001033,3943,https://www.airbnb.com/rooms/3943,-77.00,1125.00,1.00,1125,1125.00,1125.00,1.00,1,1.00,Historic Rowhouse Near Monuments,This rowhouse is centrally located in the hear...,Neighborhood highlights,"Edgewood, Bloomingdale, Truxton Circle, Eckington",NaN,534,1,38,36,https://a0.muscache.com/pictures/airflow/Hosti...,63.00,Private room in townhouse,4.89,4.94,4.93,4.92,4.60,4.86,4.77,2.77,Private room,20250313035211,city scrape
2,1,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",21,352,47,77,281,1.50,1.5 shared baths,1.00,1.00,2,0,2,0,2025-03-13,NaN,This is the middle bedroom upstairs in a resto...,48,6144.00,2009-05-14,t,I’m a California native who came to work for t...,100%,t,5061,t,t,2.00,"Washington D.C., DC",Sandra,Capitol Hill,https://a0.muscache.com/im/pictures/user/93c77...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/93c77...,2.00,https://www.airbnb.com/users/show/5061,"['email', 'phone']",f,2025-01-30,2025-03-13,38.89,Hosted License: 5007242201000749,4197,https://www.airbnb.com/rooms/4197,-76.99,1125.00,4.00,29,1125.00,1125.00,4.00,4,4.00,Capitol Hill Bedroom walk to Metro,"Our area, the Eastern Market neighborhood of C...",Neighborhood highlights,"Capitol Hill, Lincoln Park",NaN,64,0,6,5,https://a0.muscache.com/pictures/miso/Hosting-...,128.00,Private room in home,4.98,5.00,4.89,4.98,4.97,4.87,4.93,0.33,Private room,20250313035211,city scrape
3,2,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",29,179,59,89,179,1.00,1 private bath,1.00,2.00,2,0,2,0,2025-03-13,NaN,This is large private bedroom with plenty of...,0,0.00,2009-08-08,t,I am a retried teacher. I enjoy walking and wa...,NaN,t,5803,t,NaN,4.00,"Washington, DC",Bertina,Eastland Gardens,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-12-30,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/5803,"['email', 'phone']",f,2019-07-05,2025-03-13,38.91,Exempt,4529,https://www.airbnb.com/rooms/4529,-76.94,1125.00,30.00,1125,1125.00,1125.00,30.00,30,30.00,Bertina's House Part One,Very quiet neighborhood and it is easy accessi...,Neighborhood highlights,"Eastland Gardens, Kenilworth",NaN,102,0,0,0,https://a0.muscache.com/pictures/86072003/6709...,64.00,Private room in home,4.80,4.93,4.60,4.93,4.51,4.66,4.83,0.54,Private room,20250313035211,city scrape
4,3,"[""Luggage dropoff allowed"", ""Ethernet connecti...",23,158,38,68,158,1.00,1 bath,1.00,NaN,1,1,0,0,2025-03-13,NaN,This is a 1 br (bedroom + living room in Adams...,0,NaN,2009-09-22,t,"I am an environmentalist, and I own and operat...",0%,t,6527,t,f,2.00,"Washington D.C., DC",Ami,Adams Morgan,https://a0.muscache.com/im/users/6527/profile_...,100%,within a day,2009-01-13,https://a0.muscache.com/im/users/6527/profile_...,4.00,https://www.airbnb.com/users/show/6527,"['email', 'phone', 'work_email']",f,2023-08-17,2025-03-13,38.92,NaN,5589,https://www.airbnb.com/rooms/5589,-77.04,90.00,31.00,90,90.00,90.00,31.00,50,31.00,Cozy apt in Adams Morgan,"Adams Morgan spills over with hipsters, salsa ...",Neighborhood highlights,"Kalorama Heights, Adams Morgan, Lanier Heights",NaN,96,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,NaN,Entire rental unit,4.71,4.82,4.13,4.82,4.91,4.50,4.44,0.51,Entire home/apt,20250313035211,previous scrape
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,4,"[""Luggage dropoff allowed"", ""Breakfast"", ""Pets...",0,285,0,10,214,1.00,1 bath,1.00,2.00,4,4,0,0,2025-03-13,NaN,"This stylish, centrally-located sun-filled 1-b...",0,0.00,NaN,t,Hello I am Kamila. I really enjoy living in th...,96%,t,1922341,t,f,4.00,"Washington, DC",Kamila,Truxton Circle,https://a0.muscache.com/im/pictures/user/edace...,100%,within a few hours,2012-03-14,https://a0.muscache.com/im/pictures/user/edace...,4.00,https://www.airbnb.com/users/show/1922341,"['email', 'phone']",f,NaN,2025-03-13,38.92,NaN,1373918040709168206,https://www.airbnb.com/rooms/1373918040709168206,-77.04,365.00,31.00,365,365.00,365.00,31.00,31,31.00,Luxury Modern Retreat in Dupont,NaN,NaN,"Dupont Circle, Connecticut Avenue/K Street",NaN,0,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,127.00,Entire rental unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,20250313035211,city scrape
6253,2,"[""Wifi"", ""Smoke alarm"", ""Kitchen"", ""Washer"", ""...",8,96,38,68,96,1.00,1 bath,1.00,1.00,1,1,0,0,2025-03-14,NaN,Step into the perfect blend of historic charm ...,0,0.00,NaN,t,NaN,NaN,f,583479605,t,f,1.00,NaN,Tamra,Northwest Washington,https://a0.muscache.com/defaults/user_pic-225x...,NaN,NaN,2024-06-14,https://a0.muscache.com/defaults/user_pic-50x5...,1.00,https://www.airbnb.com/users/show/583479605,['phone'],f,NaN,2025-03-14,38.91,NaN,1373919267253560643,https://www.airbnb.com/rooms/1373919267253560643,-77.05,90.00,31.00,90,90.00,90.00,31.00,31,31.00,Urban Retreat in Dupont Circle,NaN,NaN,"Dupont Circle, Connecticut Avenue/K Street",NaN,0,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,120.00,Entire rental unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,20250313035211,city scrape
6254,4,"[""Wifi"", ""Free parking garage on premises"", ""H...",0,0,0,0,0,1.00,1 bath,1.00,2.00,3,3,0,0,2025-03-14,NaN,Welcome to Urban DC Hideaway in Columbia Heigh...,0,0.00,NaN,t,NaN,93%,t,267093301,t,f,3.00,"Kyiv, Ukraine",Kateryna,Southwest Waterfront,https://a0.muscache.com/im/pictures/user/5ab8e...,100%,within an hour,2019-06-08,https://a0.muscache.com/im/pictures/user/5ab8e...,3.00,https://www.airbnb.com/users/show/267093301,"['email', 'phone']",t,NaN,2025-03-14,38.93,Hosted License: 5007262201002968,1373919946920614774,https://www.airbnb.com/rooms/1373919946920614774,-77.02,365.00,1.00,365,365.00,365.00,1.00,1,1.00,Colorful DC Hideaway,NaN,NaN,"Columbia Heights, Mt. Pleasant, Pleasant Plain...",NaN,0,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,71.00,Entire home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,20250313035211,city scrape
6255,2,"[""Wifi"", ""Smoke alarm"", ""Free parking on premi...",7,50,21,50,50,1.00,1 bath,1.00,1.00,1,1,0,0,2025-03-13,NaN,This calm and stylish English basement spreads...,0,0.00,NaN,t,I am a lifelong traveler. I am used to opening...,NaN,t,21821409,t,f,1.00,"Washington, DC",Steven,Northwest Washington,https://a0.muscache.com/im/pictures/user/User/...,NaN,NaN,2014-09-26,https://a0.muscache.com/im/pictures/user/User/...,3.00,https://www.airbnb.com/users/show/21821409,"['email', 'phone', 'work_email']",f,NaN,2025-03-13,38.95,Hosted License: 5007242201004008,1374061794031156604,https://www.airbnb.com/rooms/1374061794031156604,-77.02,365.00,1.00,365,365.00,365.00,1.00,1,1.00,The Writer's Room,NaN,NaN,"Brightwood Park, Crestwood, Petworth",NaN,0,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,76.00,Entire rental unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,20250313035211,city scrape
6256,6,"[""Body soap"", ""Smoke alarm"", ""Toaster"", ""Priva...",30,365,60,90,294,3.50,3.5 baths,4.00,4.00,30,30,0,0,2025-03-13,NaN,This newly remodeled gem offers 3 levels of mo...,0,0.00,NaN,t,Explore our YouTube channel to discover videos...,84%,t,69203193,t,t,35.00,"Washington, DC",Leyla & Matt,Capitol Hill,https://a0.muscache.com/im/pictures/user/adcd1...,100%,within an hour,2016-04-27,https://a0.muscache.com/im/pictures/user/adcd1...,75.00,https://www.airbnb.com/users/show/69203193,"['email', 'phone']",f,NaN,2025-03-13,38.93,NaN,1374608217603139643,https://www.airbnb.com/rooms/1374608217603139643,-77.02,365.00,31.00,365,365.00,365.00,31.00,31,31.00,Gorgeous Newly Remodeled 3 Level Home with Par...,NaN,NaN,"Columbia Heights, Mt. Pleasant, Pleasant Plain...",NaN,0,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,242.00,Entire home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,20250313035211,city scrape

In [ ]:
listing.property_type.isna().sum() # all property_types contain descriptive informative text

np.int64(0)

In [ ]:
listing[listing.columns.sort_values()].head()

,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,availability_eoy,bathrooms,bathrooms_text,bedrooms,beds,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,calendar_last_scraped,calendar_updated,description,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,has_availability,host_about,host_acceptance_rate,host_has_profile_pic,host_id,host_identity_verified,host_is_superhost,host_listings_count,host_location,host_name,host_neighbourhood,host_picture_url,host_response_rate,host_response_time,host_since,host_thumbnail_url,host_total_listings_count,host_url,host_verifications,instant_bookable,last_review,last_scraped,latitude,license,listing_id,listing_url,longitude,maximum_maximum_nights,maximum_minimum_nights,maximum_nights,maximum_nights_avg_ntm,minimum_maximum_nights,minimum_minimum_nights,minimum_nights,minimum_nights_avg_ntm,name,neighborhood_overview,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,number_of_reviews,number_of_reviews_l30d,number_of_reviews_ltm,number_of_reviews_ly,picture_url,price,property_type,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,room_type,scrape_id,source
0,1,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",1,1,1,1,0,1.00,1 shared bath,1.00,2.00,1,0,1,0,2025-03-14,NaN,IMPORTANT NOTES<br />* Carefully read and be s...,0,0.00,2010-11-01,t,"I am a literary scholar, teacher, poet, vegan ...",100%,t,4645,t,f,1.00,"Washington D.C., DC",Vita,Anacostia,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-11-26,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/4645,"['email', 'phone', 'work_email']",f,2023-08-30,2025-03-14,38.86,NaN,3686,https://www.airbnb.com/rooms/3686,-76.99,365.00,31.00,365,365.00,365.00,31.00,31,31.00,Vita's Hideaway,We love that our neighborhood is up and coming...,Neighborhood highlights,Historic Anacostia,NaN,84,0,0,0,https://a0.muscache.com/pictures/61e02c7e-3d66...,60.00,Private room in home,4.73,4.91,4.45,4.84,3.91,4.64,4.64,0.48,Private room,20250313035211,city scrape
1,2,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",14,349,44,74,278,1.00,1 private bath,1.00,1.00,5,0,5,0,2025-03-13,NaN,You will be staying in high ceiling bedroom w...,228,14364.00,2009-05-10,t,I travel often and always try to immerse mysel...,95%,t,5059,t,t,5.00,"Washington, DC",Vasa,Eckington,https://a0.muscache.com/im/pictures/user/8ec69...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/8ec69...,5.00,https://www.airbnb.com/users/show/5059,"['email', 'phone']",f,2025-02-19,2025-03-13,38.91,Hosted License: 5007242201001033,3943,https://www.airbnb.com/rooms/3943,-77.00,1125.00,1.00,1125,1125.00,1125.00,1.00,1,1.00,Historic Rowhouse Near Monuments,This rowhouse is centrally located in the hear...,Neighborhood highlights,"Edgewood, Bloomingdale, Truxton Circle, Eckington",NaN,534,1,38,36,https://a0.muscache.com/pictures/airflow/Hosti...,63.00,Private room in townhouse,4.89,4.94,4.93,4.92,4.60,4.86,4.77,2.77,Private room,20250313035211,city scrape
2,1,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",21,352,47,77,281,1.50,1.5 shared baths,1.00,1.00,2,0,2,0,2025-03-13,NaN,This is the middle bedroom upstairs in a resto...,48,6144.00,2009-05-14,t,I’m a California native who came to work for t...,100%,t,5061,t,t,2.00,"Washington D.C., DC",Sandra,Capitol Hill,https://a0.muscache.com/im/pictures/user/93c77...,100%,within an hour,2008-12-12,https://a0.muscache.com/im/pictures/user/93c77...,2.00,https://www.airbnb.com/users/show/5061,"['email', 'phone']",f,2025-01-30,2025-03-13,38.89,Hosted License: 5007242201000749,4197,https://www.airbnb.com/rooms/4197,-76.99,1125.00,4.00,29,1125.00,1125.00,4.00,4,4.00,Capitol Hill Bedroom walk to Metro,"Our area, the Eastern Market neighborhood of C...",Neighborhood highlights,"Capitol Hill, Lincoln Park",NaN,64,0,6,5,https://a0.muscache.com/pictures/miso/Hosting-...,128.00,Private room in home,4.98,5.00,4.89,4.98,4.97,4.87,4.93,0.33,Private room,20250313035211,city scrape
3,2,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",29,179,59,89,179,1.00,1 private bath,1.00,2.00,2,0,2,0,2025-03-13,NaN,This is large private bedroom with plenty of...,0,0.00,2009-08-08,t,I am a retried teacher. I enjoy walking and wa...,NaN,t,5803,t,NaN,4.00,"Washington, DC",Bertina,Eastland Gardens,https://a0.muscache.com/im/pictures/user/User-...,NaN,NaN,2008-12-30,https://a0.muscache.com/im/pictures/user/User-...,4.00,https://www.airbnb.com/users/show/5803,"['email', 'phone']",f,2019-07-05,2025-03-13,38.91,Exempt,4529,https://www.airbnb.com/rooms/4529,-76.94,1125.00,30.00,1125,1125.00,1125.00,30.00,30,30.00,Bertina's House Part One,Very quiet neighborhood and it is easy accessi...,Neighborhood highlights,"Eastland Gardens, Kenilworth",NaN,102,0,0,0,https://a0.muscache.com/pictures/86072003/6709...,64.00,Private room in home,4.80,4.93,4.60,4.93,4.51,4.66,4.83,0.54,Private room,20250313035211,city scrape
4,3,"[""Luggage dropoff allowed"", ""Ethernet connecti...",23,158,38,68,158,1.00,1 bath,1.00,NaN,1,1,0,0,2025-03-13,NaN,This is a 1 br (bedroom + living room in Adams...,0,NaN,2009-09-22,t,"I am an environmentalist, and I own and operat...",0%,t,6527,t,f,2.00,"Washington D.C., DC",Ami,Adams Morgan,https://a0.muscache.com/im/users/6527/profile_...,100%,within a day,2009-01-13,https://a0.muscache.com/im/users/6527/profile_...,4.00,https://www.airbnb.com/users/show/6527,"['email', 'phone', 'work_email']",f,2023-08-17,2025-03-13,38.92,NaN,5589,https://www.airbnb.com/rooms/5589,-77.04,90.00,31.00,90,90.00,90.00,31.00,50,31.00,Cozy apt in Adams Morgan,"Adams Morgan spills over with hipsters, salsa ...",Neighborhood highlights,"Kalorama Heights, Adams Morgan, Lanier Heights",NaN,96,0,0,0,https://a0.muscache.com/pictures/miso/Hosting-...,NaN,Entire rental unit,4.71,4.82,4.13,4.82,4.91,4.50,4.44,0.51,Entire home/apt,20250313035211,previous scrape

# Creating New Features that May Be Useful

In [ ]:
listing.accommodates.isna().sum()

np.int64(0)

In [ ]:
listing.price.isna().sum()

np.int64(1488)

In [ ]:
listing.assign(
    price_per_person = lambda x: x.price.div(x.accommodates)
).price_per_person

0       60.00
1       31.50
2      128.00
3       32.00
4         NaN
        ...
6252    31.75
6253    60.00
6254    17.75
6255    38.00
6256    40.33
Name: price_per_person, Length: 6257, dtype: float64

In [ ]:
listing.to_csv('listing_being_cleaned', index=False)

# Continuing Data Cleaning (9/19)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/listing_being_cleaned')

# Handling imputation of remaining instances with missing bathroom(s) attribute(s)

In [ ]:
# NOTE: Professor said that this was a good idea to do this for these attribute types for listings

In [ ]:
data.loc[data.bathrooms_text.isna()][['bathrooms','bathrooms_text']]

      bathrooms bathrooms_text
1179        2.0            NaN
5420        NaN            NaN

In [ ]:
data.at[1179, 'bathrooms_text'] = '2 baths'

In [ ]:
data.loc[data.bathrooms_text.isna()][['bathrooms','bathrooms_text']]

      bathrooms bathrooms_text
5420        NaN            NaN

In [ ]:
## using KNN imputation to handle the missing bathrooms values for the instance above

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
np.sort(data.columns)

array(['accommodates', 'amenities', 'availability_30', 'availability_365',
       'availability_60', 'availability_90', 'availability_eoy',
       'bathrooms', 'bathrooms_text', 'bedrooms', 'beds',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms',
       'calendar_last_scraped', 'calendar_updated', 'description',
       'estimated_occupancy_l365d', 'estimated_revenue_l365d',
       'first_review', 'has_availability', 'host_about',
       'host_acceptance_rate', 'host_has_profile_pic', 'host_id',
       'host_identity_verified', 'host_is_superhost',
       'host_listings_count', 'host_location', 'host_name',
       'host_neighbourhood', 'host_picture_url', 'host_response_rate',
       'host_response_time', 'host_since', 'host_thumbnail_url',
       'host_total_listings_count', 'host_url', 'host_verifications',
       'instant_bookable', 'last_review', 'last_scraped', 'latitude',
       'license', 'listing_id', 'listing_url', 'longitude',
       'maximum_maximum_nights', 'maximum_minimum_nights',
       'maximum_nights', 'maximum_nights_avg_ntm',
       'minimum_maximum_nights', 'minimum_minimum_nights',
       'minimum_nights', 'minimum_nights_avg_ntm', 'name',
       'neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'number_of_reviews',
       'number_of_reviews_l30d', 'number_of_reviews_ltm',
       'number_of_reviews_ly', 'picture_url', 'price', 'property_type',
       'review_scores_accuracy', 'review_scores_checkin',
       'review_scores_cleanliness', 'review_scores_communication',
       'review_scores_location', 'review_scores_rating',
       'review_scores_value', 'reviews_per_month', 'room_type',
       'scrape_id', 'source'], dtype=object)

In [ ]:
# using geo-nearest neighbors to impute bathrooms based on 5 clost listings according to latitude/longitude

In [ ]:
# chose not to use KNNImpute from the sklearn.impute library because lat/lon coordinates are not linear
# euclidean distance between raw lat/lon values doesn't reflect true geographic proximity

In [ ]:
from sklearn.neighbors import BallTree

In [ ]:
def impute_by_geo(df, k=5, method='median', lat_col = "latitude",
                            lon_col="longitude", y_col="bathrooms"):
  """
  Impute NaN values in y_col using kNN based on geo distances (lat, long) with haversine metric.
  method: 'median' or 'mean' of neighbors' y values.
  """
  # Work on the original df without chained assignment
  # Ensure we have required columns
  required = [lat_col, lon_col, y_col]
  missing_cols = [c for c in required if c not in df.columns]
  if missing_cols:
    raise ValueError(f"Missing required columns: {missing_cols}")

  # Masks
  valid_geo = ((df[lat_col].notna()) & (df[lon_col].notna()))
  known_y = ((df[y_col].notna()) & (valid_geo))
  need_impute = df[y_col].isna() & valid_geo

  if known_y.sum() == 0 or need_impute.sum() == 0:
    return df # no instances to impute

  # Build BallTree on known points (converge degrees -> radians for haversine)
  coords_known_rad = np.deg2rad(
      df.loc[known_y, [lat_col, lon_col]].to_numpy()
  )
  tree = BallTree(coords_known_rad, metric="haversine")

  # Prepare targets to impute
  coords_missing_rad = np.deg2rad(
      df.loc[need_impute, [lat_col, lon_col]].to_numpy()
  )
  # Query k neighors among KNOWN points only
  # NOTE: BallTree.haversine distances are in radians (earth radius factor cancels for NN choice)
  k_eff = min(k, coords_known_rad.shape[0])
  dist_rad, idx_in_known = tree.query(coords_missing_rad, k=k_eff)

  # Pull neighbor y values and aggregate
  known_values = df.loc[known_y, y_col].to_numpy()
  if method == 'median':
    imputed_vals = np.nanmedian(known_values[idx_in_known], axis=1)
  elif method == 'mean':
    imputed_vals = np.nanmean(known_values[idx_in_known], axis=1)
  else:
    raise ValueError("method must be 'median' or 'mean'")

  # Assign back (no SettingWithCopyWarning)
  df.loc[need_impute, y_col] = imputed_vals

  return df

In [ ]:
impute_by_geo(data).iloc[5420]['bathrooms'] # function above works

np.float64(2.0)

In [ ]:
data = impute_by_geo(data)

In [ ]:
data.loc[data.bathrooms_text.isna()][['bathrooms', 'bathrooms_text']]

      bathrooms bathrooms_text
5420        2.0            NaN

In [ ]:
data.loc[5420, 'bathrooms_text'] = '2 baths'

# Dropping the instances that contain no value in the PRICE (response) attribute

In [ ]:
# NOTE: Professor said that this was a good idea to do

In [ ]:
drop_rows = data.loc[data.price.isna()].index.to_list()

In [ ]:
data.shape

(6257, 79)

In [ ]:
len(drop_rows)

1488

In [ ]:
data.drop(drop_rows, axis=0).shape # good

(4769, 79)

In [ ]:
data.drop(drop_rows, axis=0, inplace=True)

In [ ]:
data.shape

(4769, 79)

# Continuing imputation of missing values for BEDROOMS

In [ ]:
data.loc[(data.bedrooms == 1) & (data.beds == 0)][['bedrooms', 'beds']].shape[0]

# 41 listings have 1 bedroom and no beds

41

In [ ]:
data.loc[(data.bedrooms == 1) & (data.beds == 1)][['bedrooms', 'beds']].shape[0]

# 1846 listings have 1 bedroom and 1 bed

1846

In [ ]:
(41/(1846+41))*100

# only about 2% of the listings with 1 bedroom have 0 beds listed as well

2.172760996290408

In [ ]:
data.loc[(data.bedrooms == 1) & (data.beds.isna())][['bedrooms', 'beds']]

# going to handle imputing instances with 1 bedroom and NaN entered as beds by assigning them a 1

      bedrooms  beds
1671       1.0   NaN
1886       1.0   NaN
4105       1.0   NaN
4252       1.0   NaN
4298       1.0   NaN
4301       1.0   NaN
4341       1.0   NaN
4600       1.0   NaN
4602       1.0   NaN
4918       1.0   NaN
4919       1.0   NaN
5142       1.0   NaN
6059       1.0   NaN
6122       1.0   NaN

In [ ]:
data.beds.dtype

dtype('float64')

In [ ]:
data.loc[(data.bedrooms==1) & (data.beds.isna()), 'beds'] = float(1)

In [ ]:
data.loc[data.bedrooms.isna()].shape[0] # no instances missing values under bedrooms

0

In [ ]:
data.loc[data.beds.isna()].shape[0] # no instances missing values under beds

0

# Deciding which variables to keep vs which to drop to reduce dimensionality

# NOTE: Want to keep some variables that may make the LLM/NLP component of project easier down the line

In [ ]:
useful_for_llm = ['name', 'description', 'neighborhood_overview',
                  'host_about', 'host_name', 'amenities']

In [ ]:
data[useful_for_llm].head()

,name,description,neighborhood_overview,host_about,host_name,amenities
0,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,"I am a literary scholar, teacher, poet, vegan ...",Vita,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov..."
1,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,This rowhouse is centrally located in the hear...,I travel often and always try to immerse mysel...,Vasa,"[""Luggage dropoff allowed"", ""Window AC unit"", ..."
2,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,"Our area, the Eastern Market neighborhood of C...",I’m a California native who came to work for t...,Sandra,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp..."
3,Bertina's House Part One,This is large private bedroom with plenty of...,Very quiet neighborhood and it is easy accessi...,I am a retried teacher. I enjoy walking and wa...,Bertina,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ..."
5,Lovely guest suite in a quiet but close-in nei...,"Private guest suite with cathedral ceiling, su...",NaN,"My business is LUXbnb, we offer short-stay fur...",Charlotte,"[""Luggage dropoff allowed"", ""Body soap"", ""Sham..."

Why Keep These Variables?
 - **name** -> quick and efficient signaling pitch of luxury vs budget etc
 - **description** -> contains keywords about amenities, neighborhood, etc.
 - **neighborhood_overview** -> singals quality of the location
 - **host_about** -> signals professionalism, green vs red flags of host
 - **host_name** -> could be interesting if decide to test bias? (e.g., cultural names)
 - **amenities** -> can be parsed by an LLM into categories (luxury vs basic, family-friendly vs business-oriented).

How we can incorporate into the LLM component of project:
- Use an LLM to read the **description* field and classify listing into "budget/mid-tier/luxury" == new categorical variable to include in the pricing model.
- Use an LLM to extract whether a listing emphasizes location, amenities or experience and test which of these drivers impacts revenue.
- Use an LLM sentiment model to detect "positive vs neutral vs negative flags" in host descriptions to correlate with occupancy.

# Variables that can safely be DROPPED without skewing project objectives

In [ ]:
safe_to_drop = ['listing_url', 'scrape_id', 'source', # listing identifiers and urls
 'last_scraped', 'calendar_last_scraped', # Scrape/last updated metadata
 'picture_url', 'host_thumbnail_url', 'host_picture_url', # media links
 'host_id', 'host_url', # host identifiers and urls
 'host_location', 'host_neighbourhood', # unecessary descriptive host text
 'license', # regulatory
 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights',
 'maximum_maximum_nights' # overly detailed night constraints
 ]

In [ ]:
data.drop(safe_to_drop, axis=1, inplace = True)

In [ ]:
np.sort(data.columns.to_list())

array(['accommodates', 'amenities', 'availability_30', 'availability_365',
       'availability_60', 'availability_90', 'availability_eoy',
       'bathrooms', 'bathrooms_text', 'bedrooms', 'beds',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'calendar_updated',
       'description', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'has_availability',
       'host_about', 'host_acceptance_rate', 'host_has_profile_pic',
       'host_identity_verified', 'host_is_superhost',
       'host_listings_count', 'host_name', 'host_response_rate',
       'host_response_time', 'host_since', 'host_total_listings_count',
       'host_verifications', 'instant_bookable', 'last_review',
       'latitude', 'listing_id', 'longitude', 'maximum_nights',
       'maximum_nights_avg_ntm', 'minimum_nights',
       'minimum_nights_avg_ntm', 'name', 'neighborhood_overview',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'number_of_reviews',
       'number_of_reviews_l30d', 'number_of_reviews_ltm',
       'number_of_reviews_ly', 'price', 'property_type',
       'review_scores_accuracy', 'review_scores_checkin',
       'review_scores_cleanliness', 'review_scores_communication',
       'review_scores_location', 'review_scores_rating',
       'review_scores_value', 'reviews_per_month', 'room_type'],
      dtype='<U44')

# Converting columns that ONLY contain 't' or 'f' (ignoring NaNs) to BOOLEAN attributes

In [ ]:
# checking (filtering) which columns only contain 't' or 'f' (ignoring NaNs)
mask = data.apply(lambda col: col.dropna().isin(['t', 'f']).all())

In [ ]:
# filtering the dataframe with those columns only
tf_cols = data.loc[:, mask]

In [ ]:
tf_cols.head(10)

,host_is_superhost,host_has_profile_pic,host_identity_verified,neighbourhood_group_cleansed,calendar_updated,has_availability,instant_bookable
0,f,t,t,NaN,NaN,t,f
1,t,t,t,NaN,NaN,t,f
2,t,t,t,NaN,NaN,t,f
3,NaN,t,t,NaN,NaN,t,f
5,t,t,t,NaN,NaN,t,f
6,f,t,t,NaN,NaN,t,f
7,f,t,t,NaN,NaN,t,t
8,f,t,t,NaN,NaN,t,f
9,f,t,t,NaN,NaN,t,f
10,f,t,t,NaN,NaN,t,f

In [ ]:
tf_bool = tf_cols.eq('t') # converts 't'/'f' to boolean ('t'==True and 'f' == False) NOTE: NaN ignored

In [ ]:
# Overwriting the columns in the original dataframe
data[tf_bool.columns] = tf_bool

# Ending Data Cleaning (9/19)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4769 entries, 0 to 6256
Data columns (total 62 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_id                                    4769 non-null   int64
 1   name                                          4769 non-null   object
 2   description                                   4708 non-null   object
 3   neighborhood_overview                         2998 non-null   object
 4   host_name                                     4767 non-null   object
 5   host_since                                    4767 non-null   object
 6   host_about                                    3058 non-null   object
 7   host_response_time                            4486 non-null   object
 8   host_response_rate                            4486 non-null   object
 9   host_acceptance_rate                          4578 non-null   object
 10  host_is_superhost                             4769 non-null   bool
 11  host_listings_count                           4767 non-null   float64
 12  host_total_listings_count                     4767 non-null   float64
 13  host_verifications                            4767 non-null   object
 14  host_has_profile_pic                          4769 non-null   bool
 15  host_identity_verified                        4769 non-null   bool
 16  neighbourhood                                 2998 non-null   object
 17  neighbourhood_cleansed                        4769 non-null   object
 18  neighbourhood_group_cleansed                  4769 non-null   bool
 19  latitude                                      4769 non-null   float64
 20  longitude                                     4769 non-null   float64
 21  property_type                                 4769 non-null   object
 22  room_type                                     4769 non-null   object
 23  accommodates                                  4769 non-null   int64
 24  bathrooms                                     4769 non-null   float64
 25  bathrooms_text                                4769 non-null   object
 26  bedrooms                                      4769 non-null   float64
 27  beds                                          4769 non-null   float64
 28  amenities                                     4769 non-null   object
 29  price                                         4769 non-null   float64
 30  minimum_nights                                4769 non-null   int64
 31  maximum_nights                                4769 non-null   int64
 32  minimum_nights_avg_ntm                        4769 non-null   float64
 33  maximum_nights_avg_ntm                        4769 non-null   float64
 34  calendar_updated                              4769 non-null   bool
 35  has_availability                              4769 non-null   bool
 36  availability_30                               4769 non-null   int64
 37  availability_60                               4769 non-null   int64
 38  availability_90                               4769 non-null   int64
 39  availability_365                              4769 non-null   int64
 40  number_of_reviews                             4769 non-null   int64
 41  number_of_reviews_ltm                         4769 non-null   int64
 42  number_of_reviews_l30d                        4769 non-null   int64
 43  availability_eoy                              4769 non-null   int64
 44  number_of_reviews_ly                          4769 non-null   int64
 45  estimated_occupancy_l365d                     4769 non-null   int64
 46  estimated_revenue_l365d                       4769 non-null   float64
 47  first_review                                  3987 non-null   object
 48  last_review                                   3987 non-null   object
 49  review_scores_rating                          3987 non-null   float64
 50  review_scores_accuracy                        3986 non-null   float64
 51  review_scores_cleanliness                     3986 non-null   float64
 52  review_scores_checkin                         3986 non-null   float64
 53  review_scores_communication                   3986 non-null   float64
 54  review_scores_location                        3986 non-null   float64
 55  review_scores_value                           3986 non-null   float64
 56  instant_bookable                              4769 non-null   bool
 57  calculated_host_listings_count                4769 non-null   int64
 58  calculated_host_listings_count_entire_homes   4769 non-null   int64
 59  calculated_host_listings_count_private_rooms  4769 non-null   int64
 60  calculated_host_listings_count_shared_rooms   4769 non-null   int64
 61  reviews_per_month                             3987 non-null   float64
dtypes: bool(7), float64(19), int64(18), object(18)
memory usage: 2.2+ MB

# PREPROCESSING CHECKLIST:

- Boolean attributes == **HANDLED**
- Drop or what to do with outlier price instances (e.g., price < $10)? Remove? * ask professor*
- Compute/transform additional attributes from current ones (e.g., ADR, occupancy, and RevPAR) == *WORKING (going to do more after cleaning all here).*
- Determine if any of the remaining files in the airbnb listing link are necessary for the project. *do asap*
- Clean the text related attributes (e.g., remove HTML tags and escape characters) for the NLP/LLM portion of project. *do after all files have been cleaned/merged/analyzed).

# POST CLEANING NOTES:

- It is ok that some of the boolean attributes contain NaN values. Won't impact or hinder our project objectives/skew analysis in any way (likely). Can be handled later if necessary. A few NaN values under the attributes are ok for now and can be handled later if they impact modeling in any way.

In [ ]:
data.to_csv('listing_mostly_cleaned', index=False)

# Data Cleaning Continued (9/22)

## Dropping instances in which the listed PRICE feature is an outlier

In [ ]:
data = pd.read_csv('/content/cleaned_listing') # this is the same datata as the one I exported above

# I had changed the name of file in my personal directory so know the dataset is workeable/ready to be analyzed etc

In [ ]:
data.shape

(4769, 62)

## Resorting the columns so that PRICE is appended at the end (last column)

In [ ]:
data = pd.concat([data.drop(columns=['price']), data.price], axis=1)

## Making a column of Z Scores for PRICE and appending at end of dataframe. Also, making a boolean column that states whether the listed price is an outlier, depending on whether its PRICE lies outside of +/-3 Standard Deviations from the MEAN price

In [ ]:
data = data.assign(
    price_ZScore = lambda x: (x.price.sub(x.price.mean())).div(x.price.std()),
    outlier = lambda x: np.where(abs(x.price_ZScore ) > 3, 1, 0)
)

In [ ]:
data.shape[0] # rows before dropping outliers

4769

In [ ]:
drop_rows = data.query('outlier==1').index # obtaining indexes where the instance has an OUTLIER PRICE LISTING

In [ ]:
drop_rows.shape[0] # number of instances in LISTING dataset that has OUTLIER PRICE LISTING

28

In [ ]:
data.drop(drop_rows, axis=0, inplace=True) # dropping outlier instances

In [ ]:
data.drop(['price_ZScore', 'outlier'], axis=1, inplace = True) # dropping derived columns

In [ ]:
data.shape # data dimensions of LISTING dataset after dropping outliers

(4741, 62)

In [ ]:
data.to_csv('cleaned_listing_v2', index=False)